[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pymongo = "*"
flask = "*"
flask-login = "*"
colorama = "*"

[requires]
python_version = "3.11"
