{% extends 'layouts/layout.html' %}

{% block title %}
    Add Expense | Financify
{% endblock %}

{% block content %}
<h2>Add Expense</h2>

<form action="{{ url_for('add') }}" method="POST">
    
    <label for="name">Expense Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" min="0" step="0.01" required>
    <br>

    <label for="splits">Split:</label>
    <select id="splits" name="splits" multiple required>
        {% for user in users %}
            <option value="{{ user.email }}" {% if user.selected %}selected{% endif %}>{{ user.first_name + ' ' + user.last_name + ' (' + user.email + ')' }}</option>
        {% endfor %}
    </select>
    <br>

    <button type="submit">Add</button>
</form>

<script>
    new MultiSelectTag('splits');
</script>
{% endblock %}