{% extends 'layouts/layout.html' %}

{% block title %}
    Home | Financify
{% endblock %}

{% block content %}

    <nav class="bg-primary-400 p-4 mb-8 flex justify-evenly">
        <a href="{{ url_for('add') }}" class="text-white text-[1.5rem] font-head font-bold hover:text-primary-50 hover:no-underline">Add Expense</a>
        <a href="{{ url_for('payments') }}" class="text-white text-[1.5rem] font-head font-bold hover:text-primary-50 hover:no-underline">Record Payment</a>
        <a href="{{ url_for('logout') }}" class="text-white text-[1.5rem] font-head font-bold hover:text-primary-50 hover:no-underline">Logout</a>
    </nav>

    <div class="mx-[5rem] my-[3rem]">
        {% if owed_amount %}
            {% if owed_expenses %}
                <h1 class="text-[2rem] font-semibold text-secondary-800">You are owed <span class="text-primary-400">${{ owed_amount }}</span></h1>
                {% for expense in owed_expenses %}
                    <div class="expense cursor-pointer border border-gray-300 rounded-md p-4 mb-4" onclick="location.href='{{ url_for('expense_details', expense_id=expense._id) }}'">
                        <h1 class="text-lg font-semibold mb-2">{{ expense.name }}</h1>
                        <p class="text-gray-600 mb-2">${{ expense.amount }}</p>
                        <ul>
                            {% for email, amount in expense.splits.items() %}
                                <li class="text-gray-600">{{ email }}: ${{ amount }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        
        {% if owe_amount %}
            {% if owe_expenses %}
                <h1 class="text-[2rem] font-semibold text-secondary-800 mb-2">You owe <span class="text-red-400">${{ owe_amount }}</span></h1>
                {% for expense in owe_expenses %}
                    <div class="expense cursor-pointer border border-gray-300 rounded-md p-4 mb-4" onclick="location.href='{{ url_for('expense_details', expense_id=expense._id) }}'">
                        <h1 class="text-lg font-semibold mb-2">{{ expense.name }}</h1>
                        <p class="text-gray-600 mb-2">${{ expense.amount }}</p>
                        <ul>
                            {% for email, amount in expense.splits.items() %}
                                <li class="text-gray-600">{{ email }}: ${{ amount }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if not owed_amount and not owe_amount %}
        <div class="flex justify-center">
            <h1 class="text-[2rem] font-semibold text-secondary-800 mb-2">No expenses available.</h1>
        </div>
        {% endif %}
    </div>
{% endblock %}
