{% extends 'layouts/layout.html' %}

{% block title %}
    Home | Financify
{% endblock %}

{% block content %}
<a href="{{ url_for('add') }}">Add Expense</a>

{% if expenses %}
    {% for expense in expenses %}
        <div class="expense" onclick="location.href='{{ url_for('expense', expense_id=expense._id) }}'">
            <h1>{{ expense.name }}</h1>
            <p>{{ expense.amount }}</p>
            <ul>
                {% for email, amount in expense.splits.items() %}
                    <li>{{ email }}: {{ amount }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>No expenses available.</p>
{% endif %}

{% endblock %}