{% extends 'layouts/layout.html' %}

{% block title %}
    Home | Financify
{% endblock %}

{% block content %}
<a href="{{ url_for('add') }}">Add Expense</a>

{% if owed_expenses %}
    <h1>You are Owed ${{owed_amount}}</h1>
    {% for expense in owed_expenses %}
        <div class="expense" onclick="location.href='{{ url_for('expense', expense_id=expense._id) }}'">
            <h1>{{ expense.name }}</h1>
            <p>{{ expense.amount }}</p>
            <ul>
                {% for email, amount in expense.splits.items() %}
                    <li>{{ email }}: {{ amount }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}

{% if owe_expenses %}
    <h1>You Owe ${{owe_amount}}</h1>
    {% for expense in owe_expenses %}
        <div class="expense" onclick="location.href='{{ url_for('expense', expense_id=expense._id) }}'">
            <h1>{{ expense.name }}</h1>
            <p>{{ expense.amount }}</p>
            <ul>
                {% for email, amount in expense.splits.items() %}
                    <li>{{ email }}: {{ amount }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}

{% if not owed_expenses and not owe_expenses%}
    <p>No expenses available.</p>
{% endif %}

{% endblock %}