{% extends 'layouts/layout.html' %}

{% block title %}
    Payments | Financify
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-8">
        <h1 class="text-[2rem] text-center font-body font-semibold mb-4 text-secondary-800">Pending Payments</h1>
        {% for user in users_owed %}
            {% if user.amount %}
                <div class="owe cursor-pointer border border-gray-300 rounded-md p-4 mb-4" onclick="location.href='{{ url_for('record_payment', user_id=user._id) }}'">
                    <h1 class="text-lg font-semibold mb-2">You owe {{ user.first_name }} ({{ user.email }}) ${{ user.amount }}</h1>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
